<div class="w-full" *ngIf="{
    codersData: codersData$ | async
} as params">
  <div class="py-8">
    <div>
      <span class="px-2 text-2xl text-start">CODERS</span>
    </div>
    <div class="m-2" *ngIf="!params?.codersData && loadingData">
      <mat-progress-bar class=".mat-progress-bar-buffer" color="'blue'" [mode]="'indeterminate'">
      </mat-progress-bar>
    </div>
    <div class="overflow-x-auto">
      <div class="w-full overflow-hidden">
        <table class="w-full divide-y divide-gray-200 table-auto" *ngIf="params?.codersData">
          <thead *ngIf="params?.codersData?.data?.length">
            <tr>
              <th
                class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200 text-center">
                Name
              </th>
              <th
                class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200 text-center">
                Email
              </th>
              <th
                class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200 text-center">
                Location
              </th>
              <th
                class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200 text-center">
                Phone
              </th>
              <th
                class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200 text-center">
                Assigned VA
              </th>
              <th
                class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200 text-center">
                Coded VA
              </th>
              <th
                class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200 text-center">
                Action
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="params?.codersData?.data?.length">
              <tr [ngClass]="{ 'bg-gray-200': i % 2 !== 0 }"
                *ngFor="let coder of params?.codersData?.data; let i = index">
                <td class="px-5 py-3 text-sm border-b border-gray-200 text-center">
                  <p class="text-gray-900 whitespace-no-wrap">{{ coder?.name }}</p>
                </td>
                <td class="px-5 py-3 text-sm border-b border-gray-200 text-center">
                  <p class="text-gray-900 whitespace-no-wrap">{{ coder?.email }}</p>
                </td>
                <td class="px-5 py-3 text-sm border-b border-gray-200 text-center">
                  <p class="text-gray-900 whitespace-no-wrap">{{ coder?.location ? coder?.location :
                    "-" }}</p>
                </td>
                <td class="px-5 py-3 text-sm border-b border-gray-200 text-center">
                  <p class="text-gray-900 whitespace-no-wrap">{{ coder?.phone ? coder?.phone : "-" }}
                  </p>
                </td>
                <td class="px-5 py-3 text-sm border-b border-gray-200 text-center">
                  <p class="text-gray-900 whitespace-no-wrap">{{ coder?.assigned_va ? coder?.assigned_va : "0" }}
                  </p>
                </td>
                <td class="px-5 py-3 text-sm border-b border-gray-200 text-center">
                  <p class="text-gray-900 whitespace-no-wrap">{{ coder?.coded_va ? coder?.coded_va : "0" }}
                  </p>
                </td>
                <td class="px-5 py-3 text-sm border-b border-gray-200 text-center">
                  <a class="text-blue-500 hover:text-blue-700 hover:cursor-pointer"
                    (click)="onAssignCoder($event, coder)"><i class="ph-user-bold"></i></a>
                </td>
              </tr>
            </ng-container>
            <ng-container *ngIf="!params?.codersData?.data?.length">
              <tr class="bg-gray-200">
                <td colspan="5" class="px-5 py-3 text-center text-gray-900">No coder was found</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <div class="flex flex-col px-5 py-2 bg-white border-t xs:flex-row" *ngIf="params?.codersData?.data?.length">
          <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
        </div>
      </div>
      <div *ngIf="!params?.codersData && !loadingData">
        <p>Could not get coders.</p>
      </div>
    </div>
  </div>
</div>
