<div class="p-6">
    <div class="flex gap-2 mb-6 border-b border-gray-200">
        <button (click)="switchView('codes')" id="codesTab"
            class="px-4 py-2 text-sm font-medium text-gray-600 hover:text-gray-900"
            [ngClass]="{ 'text-blue-600 border-b-2 border-blue-600': view === 'codes' }"
            >
            ICD10 Codes
        </button>
        <button (click)="switchView('categories')" id="categoriesTab"
            class="px-4 py-2 text-sm font-medium text-gray-600 hover:text-gray-900"
            [ngClass]="{ 'text-blue-600 border-b-2 border-blue-600': view === 'categories' }"
        >
            Major Group
        </button>
        <button (click)="switchView('types')" id="typesTab"
            class="px-4 py-2 text-sm font-medium"
            [ngClass]="{ 'text-blue-600 border-b-2 border-blue-600': view === 'types' }"
            >
            Broad Group
        </button>
    </div>

    @if(view === 'codes'){
        <app-icd10-codes-list></app-icd10-codes-list>
    }

    @if(view === 'categories'){
        <app-icd10-category></app-icd10-category>
    }

    @if(view === 'types'){
        <app-icd10-category-type></app-icd10-category-type>
    }
</div>