.animate-spin {
  @apply inline-block w-8 h-8 border-4 border-t-4 border-blue-500 rounded-full;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
