<div class="mt-5">
    <div class="grid grid-cols-12">
        <div class="col-span-4 mb-4">
            <span class="text-sm font-medium text-gray-900 relative top-[20px] dark:text-gray-300">
                Use ICD 11 to code
            </span>
        </div>
        <div class="col-span-8 mb-4">
            <div class="flex items-center space-x-4 mt-5">
                <label class="inline-flex items-center cursor-pointer">
                    <input type="checkbox" class="sr-only peer" [(ngModel)]="config.useICD11">
                    <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
                    </div>
                </label>
            </div>
        </div>
        <div class="col-span-4 mb-5">
            <span class="text-sm font-medium text-gray-900 relative top-[20px] dark:text-gray-300">
                Number of coders per single VA record :
            </span>
        </div>
        <div class="col-span-6 mb-5">
            <input type="number"
                class="mb-3 block px-3 py-2 mt-1 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                placeholder="2" value="2" [(ngModel)]="config.concordanceLevel">
        </div>
        <div class="col-span-4 mb-5">
            <span class="text-sm font-medium text-gray-900 relative top-[20px] dark:text-gray-300">
                Concordance reached results:
            </span>
        </div>
        <div class="col-span-4 mb-5">
            <input type="number"
                class="mb-3 block px-3 py-2 mt-1 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                placeholder="2" value="2" [(ngModel)]="config.concordanceLevel">
        </div>
        <div class="col-span-4 mb-5">
                <button (click)="saveConfigurations()"
                    class="px-4 py-2 text-white rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 bg-blue-600 hover:bg-blue-700 hover:cursor-pointer">
                    Save
                </button>
        </div>
    </div>
</div>