@keyframes shake {

    0%,
    100% {
        transform: translateX(0) rotate(0);
    }

    20%,
    60% {
        transform: translateX(-5px) rotate(-0.5deg);
    }

    40%,
    80% {
        transform: translateX(5px) rotate(0.5deg);
    }
}

.animate-shake {
    animation: shake 0.5s ease-in-out;
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.8;
    }
}

.animate-pulse {
    animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}