<div class="mb-4 w-full">
  <label class="block text-sm font-medium text-gray-700">{{ label }}</label>
  <div class="relative w-full">
    <button type="button" (click)="toggleDropdown()"
      class="flex items-center justify-between w-full h-10 gap-2 px-4 py-2 text-sm font-medium text-left text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none">
      <span class="overflow-hidden whitespace-nowrap text-ellipsis">{{ selectedItemsString || placeholder }}</span>
      <i class="ph-caret-down {{ isOpen ? 'rotate-180' : '' }}"></i>
    </button>

    <div *ngIf="isOpen" class="absolute z-10 w-full mt-1 bg-white border border-gray-300 rounded-md shadow-lg">
      <input [(ngModel)]="searchTerm" (input)="filterItems()"
        class="block w-full px-4 py-2 text-gray-800 border-b border-gray-300 focus:outline-none" type="text"
        placeholder="Search..." autocomplete="off">

      <div class="overflow-auto max-h-[120px]">
        <ng-container *ngIf="multiSelect">
          <div *ngFor="let item of filteredItems" matTooltip="{{ value_as_tooltip ? item?.value : ''}}"
            (click)="toggleItemSelection(item)"
            class="flex items-center px-4 py-2 text-gray-700 cursor-pointer hover:bg-gray-100 active:bg-blue-100">
            <input type="checkbox" name="option_check" class="mr-2" (click)="$event.stopPropagation()"
              (change)="toggleItemSelection(item)" [checked]="(selectedItems || []).includes(item?.value)" />
            {{ item?.label ? item?.label : item?.value }}
          </div>
        </ng-container>
        <ng-container *ngIf="!multiSelect">
          <div *ngFor="let item of filteredItems" (click)="selectItem(item)"
            matTooltip="{{ value_as_tooltip ? item?.value : ''}}"
            class="block px-4 py-2 text-gray-700 cursor-pointer hover:bg-gray-100 active:bg-blue-100">
            {{ item?.label?.length ? item?.label : item?.value }}
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>