<div class="h-full px-8 bg-white rounded-lg shadow-md ">
  <!-- Header Section (fixed, non-scrollable) -->
  <!-- Tab Navigation -->
  <!-- <div class="border-b border-gray-200 dark:border-gray-700">
    <ul class="flex flex-wrap -mb-px text-sm font-medium text-center text-gray-500 dark:text-gray-400">
      <li class="me-2">
        <a class="inline-flex items-center justify-center p-4 rounded-t-lg cursor-pointer group"
          (click)="selectedTab = 'system_configs'" [ngClass]="{
         'text-blue-600 border-b-2 border-blue-600 dark:text-blue-500 dark:border-blue-500': selectedTab === 'system_configs',
         'hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 border-transparent': selectedTab !== 'system_configs'
       }">
          <i class="fas fa-cogs me-2" [ngClass]="{
           'text-blue-600 dark:text-blue-500': selectedTab === 'system_configs',
           'text-gray-400 group-hover:text-gray-500 dark:text-gray-500 dark:group-hover:text-gray-300': selectedTab !== 'system_configs'
         }"></i>
          <span class="text-lg font-normal">System Configuration</span>
        </a>
      </li>
      <li class="me-2">
        <a class="inline-flex items-center justify-center p-4 rounded-t-lg cursor-pointer group"
          (click)="selectedTab = 'odk_api_configs'" [ngClass]="{
         'text-blue-600 border-b-2 border-blue-600 dark:text-blue-500 dark:border-blue-500': selectedTab === 'odk_api_configs',
         'hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 border-transparent': selectedTab !== 'odk_api_configs'
       }">
          <i class="fas fa-network-wired me-2" [ngClass]="{
           'text-blue-600 dark:text-blue-500': selectedTab === 'odk_api_configs',
           'text-gray-400 group-hover:text-gray-500 dark:text-gray-500 dark:group-hover:text-gray-300': selectedTab !== 'odk_api_configs'
         }"></i>
          <span class="text-lg font-normal">ODK API</span>
        </a>
      </li>
      <li class="me-2">
        <a class="inline-flex items-center justify-center p-4 rounded-t-lg cursor-pointer group"
          (click)="selectedTab = 'field_mapping'" [ngClass]="{
         'text-blue-600 border-b-2 border-blue-600 dark:text-blue-500 dark:border-blue-500': selectedTab === 'field_mapping',
         'hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 border-transparent': selectedTab !== 'field_mapping'
       }">
          <i class="fas fa-table me-2" [ngClass]="{
           'text-blue-600 dark:text-blue-500': selectedTab === 'field_mapping',
           'text-gray-400 group-hover:text-gray-500 dark:text-gray-500 dark:group-hover:text-gray-300': selectedTab !== 'field_mapping'
         }"></i>
          <span class="text-lg font-normal">Field Mapping</span>
        </a>
      </li>
    </ul>
  </div> -->

  <!-- Scrollable Content Section -->
  <div class="mt-6 ">
    <!-- System Configuration Section -->
    <div *ngIf="selectedTab === 'system_configs'" id="system_configs" class="tab-content">
      <div class="my-8">
        <span class="mb-4 text-xl font-semibold">System Configuration</span>
        <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
        <div class="overflow-y-auto max-h-[calc(100vh-12rem)]">
          <form [formGroup]="systemConfigForm" (ngSubmit)="onSystemConfigSubmit()">
            <div class="flex items-center gap-4 mb-4">
              <label class="w-1/4 text-sm font-medium text-gray-700">Application Name</label>
              <input type="text" formControlName="app_name" class="flex-1 p-2 border border-gray-300 rounded-md"
                placeholder="Enter application name" />
            </div>
            <div class="flex items-center gap-4 mb-4">
              <label class="block w-1/4 text-sm font-medium text-gray-700">Page Title</label>
              <input type="text" formControlName="page_title" class="flex-1 p-2 border border-gray-300 rounded-md"
                placeholder="Enter page title">
            </div>
            <div class="flex items-center gap-4 mb-4">
              <label class="block w-1/4 text-sm font-medium text-gray-700">Page Subtitle</label>
              <input type="text" formControlName="page_subtitle" class="flex-1 p-2 border border-gray-300 rounded-md"
                placeholder="Enter page subtitle">
            </div>
            <div class="flex items-center gap-4 mb-4">
              <label class="block w-1/4 text-sm font-medium text-gray-700">Admin Level 1</label>
              <input type="text" formControlName="admin_level1" class="flex-1 p-2 border border-gray-300 rounded-md"
                placeholder="Enter admin level 1">
            </div>
            <div class="flex items-center gap-4 mb-4">
              <label class="block w-1/4 text-sm font-medium text-gray-700">Admin Level 2</label>
              <input type="text" formControlName="admin_level2" class="flex-1 p-2 border border-gray-300 rounded-md"
                placeholder="Enter admin level 2">
            </div>
            <div class="flex items-center gap-4 mb-4">
              <label class="block w-1/4 text-sm font-medium text-gray-700">Admin Level 3</label>
              <input type="text" formControlName="admin_level3" class="flex-1 p-2 border border-gray-300 rounded-md"
                placeholder="Enter admin level 3">
            </div>
            <div class="flex items-center gap-4 mb-4">
              <label class="block w-1/4 text-sm font-medium text-gray-700">Admin Level 4</label>
              <input type="text" formControlName="admin_level4" class="flex-1 p-2 border border-gray-300 rounded-md"
                placeholder="Enter admin level 4">
            </div>
            <div class="flex items-center gap-4 mb-4">
              <label class="block w-1/4 text-sm font-medium text-gray-700">Map Center (Latitude, Longitude)</label>
              <input type="text" formControlName="map_center" class="flex-1 p-2 border border-gray-300 rounded-md"
                placeholder="Enter map center coordinates">
            </div>
            <button type="submit"
              class="float-right px-4 py-2 mt-4 text-white bg-blue-600 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
              Save Configuration
            </button>
          </form>
        </div>
      </div>
    </div>


    <div *ngIf="selectedTab === 'field_mapping'" id="field_mapping" class="tab-content">
      <div class="my-8">
        <span class="mb-4 text-xl font-semibold">Field Mapping</span>
        <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
        <div class="overflow-y-auto max-h-[calc(100vh-12rem)]">
          <form [formGroup]="fieldMappingForm" (ngSubmit)="onFieldMappingSubmit()">



            <!-- Instance ID -->
            <app-searchable-select label="Instance ID" [control]="fieldMappingForm.get('instance_id')!" [items]="fields"
              placeholder="Search Instance ID">
            </app-searchable-select>

            <!-- VA ID -->
            <app-searchable-select label="Verbal Autopsy ID (VA ID)" [control]="fieldMappingForm.get('va_id')!"
              [items]="fields" placeholder="Search VA ID">
            </app-searchable-select>

            <!-- Consent ID -->
            <app-searchable-select label="Consent ID" [control]="fieldMappingForm.get('consent_id')!" [items]="fields"
              placeholder="Search Consent ID">
            </app-searchable-select>

            <!-- Interview Date -->
            <app-searchable-select label="Interview Date" [control]="fieldMappingForm.get('date')!" [items]="fields"
              placeholder="Search Interview Date">
            </app-searchable-select>

            <!-- Location Level 1 -->
            <app-searchable-select label="Location Level 1" [control]="fieldMappingForm.get('location_level1')!"
              [items]="fields" placeholder="Search Location Level 1">
            </app-searchable-select>

            <!-- Location Level 2 -->
            <app-searchable-select label="Location Level 2" [control]="fieldMappingForm.get('location_level2')!"
              [items]="fields" placeholder="Search Location Level 2">
            </app-searchable-select>

            <!-- Deceased Gender -->
            <app-searchable-select label="Deceased Gender" [control]="fieldMappingForm.get('deceased_gender')!"
              [items]="fields" placeholder="Search Deceased Gender">
            </app-searchable-select>

            <!-- Is Adult -->
            <app-searchable-select label="Is the Deceased an Adult?" [control]="fieldMappingForm.get('is_adult')!"
              [items]="fields" placeholder="Search Is Adult">
            </app-searchable-select>

            <!-- Is Child -->
            <app-searchable-select label="Is the Deceased a Child?" [control]="fieldMappingForm.get('is_child')!"
              [items]="fields" placeholder="Search Is Child">
            </app-searchable-select>

            <!-- Is Neonate -->
            <app-searchable-select label="Is the Deceased a Neonate?" [control]="fieldMappingForm.get('is_neonate')!"
              [items]="fields" placeholder="Search Is Neonate">
            </app-searchable-select>

            <!-- death_date -->
            <app-searchable-select label="death date" [control]="fieldMappingForm.get('death_date')!" [items]="fields"
              placeholder="Search death date">
            </app-searchable-select>

            <!-- submitted_date -->
            <app-searchable-select label="submitted date" [control]="fieldMappingForm.get('submitted_date')!"
              [items]="fields" placeholder="Search submitted date">
            </app-searchable-select>

            <!-- interview_date -->
            <app-searchable-select label="interview date" [control]="fieldMappingForm.get('interview_date')!"
              [items]="fields" placeholder="Search interview date">
            </app-searchable-select>

            <!-- Interviewer Name -->
            <app-searchable-select label="Interviewer Name" [control]="fieldMappingForm.get('interviewer_name')!"
              [items]="fields" placeholder="Search Interviewer Name">
            </app-searchable-select>

            <!-- Interviewer Phone Number -->
            <app-searchable-select label="Interviewer Phone Number"
              [control]="fieldMappingForm.get('interviewer_phone')!" [items]="fields"
              placeholder="Search Interviewer Phone Number">
            </app-searchable-select>

            <!-- Interviewer Sex -->
            <app-searchable-select label="Interviewer Sex" [control]="fieldMappingForm.get('interviewer_sex')!"
              [items]="fields" placeholder="Search Interviewer Sex">
            </app-searchable-select>

            <button type="submit"
              class="float-right px-4 py-2 mt-4 text-white bg-blue-600 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
              Save Field Mapping
            </button>
          </form>
        </div>
      </div>
    </div>




    <div *ngIf="selectedTab === 'odk_api_configs'" id="odk_api_configs" class="tab-content">
      <!-- ODK API Configurations Section -->
      <div class="my-8">
        <span class="mb-4 text-xl font-semibold">ODK API Configuration</span>
        <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
        <div class="overflow-y-auto max-h-[calc(100vh-12rem)]">
          <form [formGroup]="odkApiConfigForm" (ngSubmit)="onOdkApiConfigSubmit()">
            <div class="flex items-center gap-4 mb-4">
              <label class="block w-1/4 text-sm font-medium text-gray-700">ODK Central URL</label>
              <input type="url" formControlName="url" class="flex-1 p-2 border border-gray-300 rounded-md"
                placeholder="Enter ODK Central URL">
            </div>
            <div class="flex items-center gap-4 mb-4">
              <label class="block w-1/4 text-sm font-medium text-gray-700">Username</label>
              <input type="text" formControlName="username" class="flex-1 p-2 border border-gray-300 rounded-md"
                placeholder="Enter username">
            </div>
            <div class="flex items-center gap-4 mb-4">
              <label class="block w-1/4 text-sm font-medium text-gray-700">Password</label>
              <input type="password" formControlName="password" class="flex-1 p-2 border border-gray-300 rounded-md"
                placeholder="Enter password">
            </div>
            <div class="flex items-center gap-4 mb-4">
              <label class="block w-1/4 text-sm font-medium text-gray-700">Form ID</label>
              <input type="text" formControlName="form_id" class="flex-1 p-2 border border-gray-300 rounded-md"
                placeholder="Enter Form ID">
            </div>
            <div class="flex items-center gap-4 mb-4">
              <label class="block w-1/4 text-sm font-medium text-gray-700">Project ID</label>
              <input type="text" formControlName="project_id" class="flex-1 p-2 border border-gray-300 rounded-md"
                placeholder="Enter Project ID">
            </div>
            <div class="flex items-center gap-4 mb-4">
              <label class="block w-1/4 text-sm font-medium text-gray-700">API Version</label>
              <input type="text" formControlName="api_version" class="flex-1 p-2 border border-gray-300 rounded-md"
                placeholder="Enter API Version">
            </div>

            <button type="submit"
              class="float-right px-4 py-2 mt-4 text-white bg-blue-600 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
              Save ODK API Configuration
            </button>
          </form>

        </div>

      </div>
    </div>

    <div *ngIf="selectedTab === 'va_summary' && fields?.length" id="va_summary" class="tab-content">
      <!-- VA Document Summary Configurations Section -->
      <div class="my-8">
        <span class="text-xl font-semibold">VA Summary Configuration</span>
        <div class="mt-2">
          <app-searchable-select-for-objects label="Field" [items]="fields" [inputSelectedItems]="selectedSummaryFields"
            [multiSelect]="true" placeholder="Search Field Name" (select)="onSearchableChange($event)"
            (open)="onOpenSelectField($event)"></app-searchable-select-for-objects>

          <button (click)="onSaveVaSummaryFields()"
            class="float-right px-4 py-2 mt-4 text-white bg-blue-600 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
            Save VA Summary Configuration
          </button>

        </div>

      </div>
    </div>
  </div>
</div>
