<div class="p-8 bg-white rounded-lg shadow-sm">
    <span class="mb-6 text-2xl font-semibold">PCVA Configurations</span>

    <div class="border-b border-gray-200 dark:border-gray-700">
        <ul class="flex flex-wrap -mb-px text-sm font-medium text-center text-gray-500 dark:text-gray-400">
            <li class="me-2">
                <a class="inline-flex items-center justify-center p-4 rounded-t-lg group hover:cursor-pointer"
                    (click)="selectedTab = 'configuration'" [ngClass]="{
            'text-blue-600 border-b-2 border-blue-600 dark:text-blue-500 dark:border-blue-500': selectedTab === 'configuration',
            'hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 border-transparent': selectedTab !== 'configuration'
            }">
                    <i class="fas fa-cogs me-2" [ngClass]="{
                'text-blue-600 dark:text-blue-500': selectedTab === 'configuration',
                'text-gray-400 group-hover:text-gray-500 dark:text-gray-500 dark:group-hover:text-gray-300': selectedTab !== 'configuration'
            }"></i>
                    <span class="text-lg font-normal">Configuration</span>
                </a>
            </li>
            <li class="me-2">
                <a class="inline-flex items-center justify-center p-4 rounded-t-lg group hover:cursor-pointer"
                    (click)="selectedTab = 'ICD-10'" [ngClass]="{
            'text-blue-600 border-b-2 border-blue-600 dark:text-blue-500 dark:border-blue-500': selectedTab === 'ICD-10',
            'hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 border-transparent': selectedTab !== 'ICD-10'
            }">
                    <i class="fas fa-network-wired me-2" [ngClass]="{
                'text-blue-600 dark:text-blue-500': selectedTab === 'ICD-10',
                'text-gray-400 group-hover:text-gray-500 dark:text-gray-500 dark:group-hover:text-gray-300': selectedTab !== 'ICD-10'
            }"></i>
                    <span class="text-lg font-normal">ICD 10</span>
                </a>
            </li>
            <li class="me-2">
                <a class="inline-flex items-center justify-center p-4 rounded-t-lg group hover:cursor-pointer"
                    (click)="selectedTab = 'ICD-11'" [ngClass]="{
            'text-blue-600 border-b-2 border-blue-600 dark:text-blue-500 dark:border-blue-500': selectedTab === 'ICD-11',
            'hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 border-transparent': selectedTab !== 'ICD-11'
            }">
                    <i class="fas fa-network-wired me-2" [ngClass]="{
                'text-blue-600 dark:text-blue-500': selectedTab === 'ICD-11',
                'text-gray-400 group-hover:text-gray-500 dark:text-gray-500 dark:group-hover:text-gray-300': selectedTab !== 'ICD-11'
            }"></i>
                    <span class="text-lg font-normal">ICD 11</span>
                </a>
            </li>
        </ul>
    </div>
    <div *ngIf="selectedTab === 'configuration'" id="configuration" class="mt-3">
        
    </div>
    <div *ngIf="selectedTab === 'ICD-10'" id="ICD-10" class="mt-3">
        <app-icd-10-codes></app-icd-10-codes>
    </div>
    <div *ngIf="selectedTab === 'ICD-11'" id="ICD-11" class="mt-3">
        <!-- ICD-11 Configuration Tab Content -->
         ICD-11 Configurations selected
    </div>
</div>