<header class="bg-white relative">
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class="lg:flex lg:flex-1 lg:justify-end">
            <button type="button"
                class="flex mx-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
                id="user-menu-button" aria-expanded="false" (click)="toggleDropdown()">
                <span class="sr-only">Open user menu</span>
                <img class="w-8 h-8 rounded-full" [src]="currentUser?.image"
                    alt="user photo" />
            </button>
        </div>
        <!-- Dropdown menu -->
        <div *ngIf="isDropdownOpen"
            class="absolute top-full right-0 z-50 w-56 text-base list-none bg-white rounded divide-y divide-gray-100 shadow"
            id="dropdown">
            <div class="py-3 px-4">
                <span class="block text-sm font-semibold text-gray-600">{{ currentUser?.name }}</span>
            </div>
            <ul class="py-1 text-gray-500 dark:text-gray-400" aria-labelledby="dropdown">
                <li>
                    <a (click)="onOpenAccountSettings()"
                        class="block py-2 px-4 text-sm hover:bg-gray-400 hover:text-white hover:cursor-pointer">Account
                        settings</a>
                </li>
            </ul>
            <ul class="py-1 text-gray-500 dark:text-gray-400" aria-labelledby="dropdown">
                <li>
                    <a (click)="onLogout()"
                        class="block py-2 px-4 text-sm hover:bg-gray-400 hover:text-white hover:cursor-pointer">Sign
                        out</a>
                </li>
            </ul>
        </div>
    </nav>
</header>