<app-va-filters></app-va-filters>
<div class="p-4 mx-auto mb-96">
  <div *ngIf="isLoading; else chartsContent" class="grid grid-cols-1 gap-4 md:grid-cols-3">
    <!-- Skeleton Loader for Bar Chart -->
    <div *ngFor="let item of [1,2,3,4,5,6]"
      class="p-4 bg-gray-200 border border-gray-300 rounded-lg shadow-lg animate-pulse">
      <div class="w-full h-60 md:h-72">
      </div>
    </div>
  </div>

  <ng-template #chartsContent>
    <div *ngIf="chartKeys.length > 0; else emptyMessage">
      <div class="flex items-center justify-between mb-1">
        <!-- Left section (Start Date, Total Records, Time Taken) -->
        <div class="flex space-x-8">
          <p class="text-lg font-semibold">Start Date: {{ created_at | date:'short' }}</p>
          <p class="text-lg font-semibold">Total Records: {{ total_records }}</p>
          <p class="text-lg font-semibold">Time Taken: {{ elapsed_time }}</p>
        </div>

        <!-- Right section (Toggle and Download button) -->
        <div class="flex items-center space-x-4">

          <!-- <label class="inline-flex items-center cursor-pointer">
            <input type="checkbox" class="sr-only peer" (change)="toggleCcvaSourceView($event)"
              [checked]="ccva_graph_db_source">
            <div
              class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-500">
            </div>
            <span class="text-sm font-medium text-gray-900 ms-3 dark:text-gray-300">
              Local CMSF
            </span>
          </label> -->

          <!--
          <button (click)="downloadCsv()"
            class="flex items-center justify-center h-10 px-4 py-3 text-white bg-blue-600 rounded-md">
            Download Data
          </button> -->
          <div class="flex items-center mb-4 space-x-4">
            <label for="dateType" class="text-sm font-medium text-gray-700">Output</label>
            <select id="dateType" [(ngModel)]="selectedSuccessType" (change)="onFilterChange()"
              class="block w-40 px-4 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
              <option value="">All</option>
              <option value="Undeterminant">Undeterminant</option>
              <option [defaultSelected]="true" value="success">Success</option>
            </select>
          </div>
          <!-- Dropdown menu -->
          <div class="relative" #dropdownMenu>
            <button (click)="toggleDropdown()"
              class="flex items-center justify-center h-10 px-6 py-2 mb-4 text-sm font-bold text-white bg-blue-500 rounded hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
              Actions
              <svg class="w-4 h-4 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
              </svg>
            </button>
            <div *ngIf="isDropdownOpen"
              class="absolute right-0 z-10 w-48 py-2 mt-2 mb-5 bg-white rounded-md shadow-lg dark:bg-gray-800">
              <!-- <a href="#" (click)="checkData()"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700">Check</a>
              -->
              <div
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700">
                <label class="inline-flex items-center cursor-pointer">
                  <input type="checkbox" class="sr-only peer" (change)="toggleCcvaSourceView($event)"
                    [checked]="ccva_graph_db_source">
                  <div
                    class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-500">
                  </div>
                  <span class="text-sm text-gray-700 ms-3 dark:text-gray-200">
                    Local CMSF
                  </span>
                </label>
              </div>
              <hr>
              <a href="#" (click)="downloadCsv()"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700">Download
                Data</a>
            </div>
          </div>
        </div>
      </div>
      <hr class="h-px my-1 bg-gray-200 border-0 dark:bg-gray-700">

      <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
        <!-- Bar Chart -->
        <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-lg" *ngFor="let key of chartKeys">
          <span *ngIf="charts[key]" id="chart-{{key}}" class="chart-{{key}}">
            <!-- Dynamic Title -->
            <!-- <span class="block mb-4 text-xl font-semibold text-center text-gray-700">
              {{ getDynamicTitle(key) }}
            </span> -->
            <div class="flex justify-between mb-4">
              <span class="block text-xl font-semibold text-center text-gray-700">
                {{ getDynamicTitle(key) }}
              </span>
              <img (click)="downloadChart(key)" src="assets/icons/download.svg" class="h-6 cursor-pointer"
                alt="Download chart" />

            </div>
            <div class="flex justify-center w-full">
              <div class="w-full h-60 md:h-72">
                <canvas baseChart [datasets]="charts[key].datasets" [labels]="charts[key].labels"
                  [options]="chartOptions" [type]="'bar'">
                </canvas>
              </div>
            </div>
          </span>
        </div>
      </div>
    </div>

    <!-- Message to Run CCVA -->
    <ng-template #emptyMessage>
      <div class="text-lg font-semibold text-center text-red-500 mt-60">
        No data available. Please run the CCVA to generate charts.
      </div>
    </ng-template>
  </ng-template>
</div>
