<div class="w-full" *ngIf="{
    usersData: usersData$ | async
} as params">
    <div class="py-8">
        <div>
            <span class="px-2 text-2xl text-start">USERS</span>
        </div>
        <div class="m-2" *ngIf="!params?.usersData && loadingData">
            <mat-progress-bar class=".mat-progress-bar-buffer" color="'blue'" [mode]="'indeterminate'">
            </mat-progress-bar>
        </div>
        <div class="overflow-x-auto">
            <div class="w-full overflow-hidden">
                <table class="w-full divide-y divide-gray-200 table-auto" *ngIf="params?.usersData">
                    <thead *ngIf="params?.usersData?.data?.length">
                        <tr>
                            <th
                                class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200">
                                Name
                            </th>
                            <th
                                class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200">
                                Email
                            </th>
                            <th
                                class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200">
                                Location
                            </th>
                            <th
                                class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200">
                                Phone
                            </th>
                            <th
                                class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase border-b-2 border-gray-200">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="params?.usersData?.data?.length">
                            <tr [ngClass]="{ 'bg-gray-200': i % 2 !== 0 }"
                                *ngFor="let user of params?.usersData?.data; let i = index">
                                <td class="px-5 py-3 text-sm border-b border-gray-200">
                                    <p class="text-gray-900 whitespace-no-wrap">{{ user?.name }}</p>
                                </td>
                                <td class="px-5 py-3 text-sm border-b border-gray-200">
                                    <p class="text-gray-900 whitespace-no-wrap">{{ user?.email }}</p>
                                </td>
                                <td class="px-5 py-3 text-sm border-b border-gray-200">
                                    <p class="text-gray-900 whitespace-no-wrap">{{ user?.location ? user?.location :
                                        "-" }}</p>
                                </td>
                                <td class="px-5 py-3 text-sm border-b border-gray-200">
                                    <p class="text-gray-900 whitespace-no-wrap">{{ user?.phone ? user?.phone : "-" }}
                                    </p>
                                </td>
                                <td class="px-5 py-3 text-sm border-b border-gray-200">
                                    <a mat-icon-button [matMenuTriggerFor]="menu"
                                        class="text-gray-900 hover:text-blue-700 hover:cursor-pointer text-2xl bold"><i
                                            class="ph-dots-three-vertical"></i></a>
                                    <mat-menu #menu="matMenu" class="bg-white">
                                        <button mat-menu-item class="hover:text-blue-700 hover:cursor-pointer" (click)="onAssignRoles(user)">
                                            <i class="ph-shield-check text-2xl mr-3"></i>
                                            <span class="relative bottom-[7px]">Manage Roles</span>
                                        </button>
                                        <button mat-menu-item class="hover:text-blue-700 hover:cursor-pointer">
                                            <i class="ph-eye text-2xl mr-3"></i>
                                            <span class="relative bottom-[7px]">View</span>
                                        </button>
                                        <button mat-menu-item class="hover:text-blue-700 hover:cursor-pointer">
                                            <i class="ph-pencil-simple text-2xl mr-3"></i>
                                            <span class="relative bottom-[7px]">Edit</span>
                                        </button>
                                        <button mat-menu-item class="hover:text-red-700 hover:cursor-pointer">
                                            <i class="ph-trash text-2xl mr-3"></i>
                                            <span class="relative bottom-[7px]">Delete</span>
                                        </button>
                                    </mat-menu>
                                </td>
                            </tr>
                        </ng-container>
                        <ng-container *ngIf="!params?.usersData?.data?.length">
                            <tr class="bg-gray-200">
                                <td colspan="5" class="px-5 py-3 text-center text-gray-900">No coder was found</td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
                <div class="px-5 py-2 bg-white border-t flex flex-col xs:flex-row" *ngIf="params?.usersData?.total > 0">
                    <mat-paginator [showFirstLastButtons]="true" [pageSizeOptions]="[5, 10, 20, 50]"
                        [length]="params?.usersData?.total" [pageIndex]="pageNumber" [pageSize]="limit"
                        (page)="onPageChange($event)"></mat-paginator>
                </div>
            </div>
            <div *ngIf="!params?.usersData && !loadingData">
                <p>Could not get users.</p>
            </div>
        </div>
    </div>
</div>