<!-- TODO: Add accordions in form sections for better user experience -->
<form (ngSubmit)="onSubmitform()">
    <table class="w-[100%]">
        <tbody>
            <mat-accordion>
                <mat-expansion-panel [expanded]="panelAOpenState()"  (opened)="panelAOpenState.set(true)" (closed)="panelAOpenState.set(false)" hideToggle>
                    <mat-expansion-panel-header class="mat-expansion-panel-header-colored">
                        <mat-panel-title> {{panelAOpenState() ? '▼' : '▶'}} Administrative Data (can be further specified by country) </mat-panel-title>
                    </mat-expansion-panel-header>
                    <tr class="grid grid-cols-12 mt-2">
                        <td class="col-span-3">Sex:</td>
                        <td class="col-span-3">
                            <label class="mr-4"><input disabled [value]="'female'" [(ngModel)]="gender" type="radio" name="sex"
                                    class="mr-1"> Female</label>
                        </td>
                        <td class="col-span-3">
                            <label class="ml-4"><input disabled [value]="'male'" [(ngModel)]="gender" type="radio" name="sex" class="mr-1">
                                Male</label>
                        </td>
                        <td class="col-span-3">
                            <label><input type="radio" disabled [value]="'unknown'" [(ngModel)]="gender" name="sex" class="mr-1">
                                Unknown</label>
                        </td>
                    </tr>
                    <tr class="grid grid-cols-12 mt-2">
                        <td class="col-span-3">Date of birth:</td>
                        <td class="col-span-3"><input disabled type="text" [value]="birthDate | date"
                                class="w-full border px-2 py-1 rounded"></td>
                        <td class="col-span-3 ml-4">Date of death:</td>
                        <td class="col-span-3"><input disabled type="text" [value]="deathDate | date"
                                class="w-full border px-2 py-1 rounded"></td>
                    </tr>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelBOpenState.set(true)" (closed)="panelBOpenState.set(false)" hideToggle>
                    <mat-expansion-panel-header class="mat-expansion-panel-header-colored">
                        <mat-panel-title> {{panelBOpenState() ? '▼' : '▶'}} (FRAME A) Medical data: Part 1 and 2
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <tr class="grid grid-cols-12 grid-rows-5 frameA">
                        <td class="col-span-4"></td>
                        <td class="col-span-5">Cause of death</td>
                        <td class="col-span-3">Time interval from onset to death</td>
                        <td class="col-span-4 row-span-4">1. Report disease or condition leading to death: <br>
                            Report event chain is due to order (if applicable) <br>
                            State the underlying cause on the lowest field
                
                        </td>
                        <td class="col-span-5 flex">
                            <label class="mr-4">
                                a: &nbsp;
                            </label>
                            <app-searchable-multi-select class="w-full" (change)="frameA.a = $event" [selectedOptions]="selectedA" [options]="icdCodes!"
                                [placeholder]="'Select Disease'" [multiSelect]="false"></app-searchable-multi-select>
                
                        </td>
                        <td class="col-span-3">
                            <input type="text" name="timeinterval_a" [(ngModel)]="frameA.timeinterval_a"
                                class="border-[1px] focus:border-[1px] focus:border-gray-400 pl-[10px] pr-[10px] border-gray-300 w-full h-[42px] rounded-[3px]"
                                id="">
                        </td>
                        <td class="col-span-5 flex">
                            <label class="mr-4">
                                b: &nbsp;
                            </label>
                            <app-searchable-multi-select class="w-full" (change)="frameA.b = $event" [selectedOptions]="selectedB" [options]="icdCodes!"
                                [placeholder]="'Select Disease'" [multiSelect]="false"></app-searchable-multi-select>
                        </td>
                        <td class="col-span-3">
                            <input type="text" name="timeinterval_b" [(ngModel)]="frameA.timeinterval_b"
                                class="border-[1px] focus:border-[1px] focus:border-gray-400 pl-[10px] pr-[10px] border-gray-300 w-full mt-[3px] h-[35px] rounded-[3px]"
                                id="">
                        </td>
                        <td class="col-span-5 flex">
                            <label class="mr-4">
                                c: &nbsp;
                            </label>
                            <app-searchable-multi-select class="w-full" (change)="frameA.c = $event" [selectedOptions]="selectedC" [options]="icdCodes!"
                                [placeholder]="'Select Disease'" [multiSelect]="false"></app-searchable-multi-select>
                        </td>
                        <td class="col-span-3">
                            <input type="text" name="timeinterval_c" [(ngModel)]="frameA.timeinterval_c"
                                class="border-[1px] focus:border-[1px] focus:border-gray-400 pl-[10px] pr-[10px] border-gray-300 w-full h-[40px] rounded-[3px]"
                                id="">
                        </td>
                        <td class="col-span-5 flex">
                            <label class="mr-4">
                                d: &nbsp;
                            </label>
                            <app-searchable-multi-select class="w-full" (change)="frameA.d = $event" [selectedOptions]="selectedD" [options]="icdCodes!"
                                [placeholder]="'Select Disease'" [multiSelect]="false"></app-searchable-multi-select>
                        </td>
                        <td class="col-span-3">
                            <input type="text" name="timeinterval_d" [(ngModel)]="frameA.timeinterval_d"
                                class="border-[1px] focus:border-[1px] focus:border-gray-400 pl-[10px] pr-[10px] border-gray-300 w-full mt-[3px] h-[35px] rounded-[3px]"
                                id="">
                        </td>
                        <td class="col-span-4 mt-2">
                            Other significant conditions contributing to death (time intervals can be included in brackets after
                            the conditions)
                        </td>
                        <td class="col-span-8 mt-2">
                            <app-searchable-multi-select (change)="setContributories($event)" [selectedOptions]="selectedContributories || []" [options]="icdCodes!" [placeholder]="'Select Disease'" [multiSelect]="true"></app-searchable-multi-select>
                        </td>
                    </tr>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelCOpenState.set(true)" (closed)="panelCOpenState.set(false)" hideToggle>
                    <mat-expansion-panel-header class="mat-expansion-panel-header-colored">
                        <mat-panel-title> {{panelCOpenState() ? '▼' : '▶'}} (FRAME B) Other medical data
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <tr class="grid grid-cols-12 mt-2">
                        <td class="col-span-6">Was surgery performed within the last weeks?</td>
                        <td class="col-span-2">
                            <label class="mr-4"><input type="radio" [(ngModel)]="frameB.surgeryPerformed" name="surgery_performed"
                                    value="yes" class="mr-1">
                                Yes</label>
                        </td>
                        <td class="col-span-2">
                            <label class="ml-4"><input type="radio" [(ngModel)]="frameB.surgeryPerformed" name="surgery_performed"
                                    value="no" class="mr-1"> No</label>
                        </td>
                        <td class="col-span-2">
                            <label><input type="radio" [(ngModel)]="frameB.surgeryPerformed" name="surgery_performed" value="unknown"
                                    class="mr-1"> Unknown</label>
                        </td>
                    </tr>
                    <tr class="grid grid-cols-12 mt-2">
                        <td class="col-span-6">If yes please specify the date of the surgery</td>
                        <td class="col-span-6">
                            <input type="date" class="w-full border px-2 py-1 rounded" name="surgery_date"
                                [(ngModel)]="frameB.surgeryDate">
                        </td>
                    </tr>
                    <tr class="grid grid-cols-12 mt-2">
                        <td class="col-span-6">If yes please specify the reasons of the surgery (disease or condition)</td>
                        <td class="col-span-6">
                            <textarea class="w-full border px-2 py-1 rounded" name="surgery_reason"
                                [(ngModel)]="frameB.surgeryReasons"></textarea>
                        </td>
                    </tr>
                    <tr class="grid grid-cols-12 mt-2">
                        <td class="col-span-6">Was an autopsy requested?</td>
                        <td class="col-span-2">
                            <label class="mr-4"><input type="radio" [(ngModel)]="frameB.autopsyRequested" name="autopsy_requested"
                                    value="yes" class="mr-1">
                                Yes</label>
                        </td>
                        <td class="col-span-2">
                            <label class="ml-4"><input type="radio" [(ngModel)]="frameB.autopsyRequested" name="autopsy_requested"
                                    value="no" class="mr-1"> No</label>
                        </td>
                        <td class="col-span-2">
                            <label><input type="radio" [(ngModel)]="frameB.autopsyRequested" name="autopsy_requested" value="unknown"
                                    class="mr-1"> Unknown</label>
                        </td>
                    </tr>
                    <tr class="grid grid-cols-12 mt-2">
                        <td class="col-span-6">If yes were the findings used in the certification?</td>
                        <td class="col-span-2">
                            <label class="mr-4"><input type="radio" [(ngModel)]="frameB.wereFindingsUsedInCertification"
                                    name="findings_used" value="yes" class="mr-1"> Yes</label>
                        </td>
                        <td class="col-span-2">
                            <label class="ml-4"><input type="radio" [(ngModel)]="frameB.wereFindingsUsedInCertification"
                                    name="findings_used" value="no" class="mr-1"> No</label>
                        </td>
                        <td class="col-span-2">
                            <label><input type="radio" [(ngModel)]="frameB.wereFindingsUsedInCertification" name="findings_used"
                                    value="unknown" class="mr-1"> Unknown</label>
                        </td>
                    </tr>
                        <mat-accordion>
                            <mat-expansion-panel (opened)="subPanelAOpenState.set(true)" (closed)="subPanelAOpenState.set(false)" hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-title> {{subPanelAOpenState() ? '▼' : '▶'}} Manner of death
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <tr class="grid grid-cols-12 mt-2">
                                    <td class="col-span-4">
                                        <label><input type="radio" [(ngModel)]="mannerOfDeath.manner" name="manner_of_death" value="Disease"
                                                class="mr-1"> Disease</label>
                                    </td>
                                    <td class="col-span-4">
                                        <label><input type="radio" [(ngModel)]="mannerOfDeath.manner" name="manner_of_death" value="Assault"
                                                class="mr-1"> Assault</label>
                                    </td>
                                    <td class="col-span-4">
                                        <label><input type="radio" [(ngModel)]="mannerOfDeath.manner" name="manner_of_death"
                                                value="Could not be determined" class="mr-1"> Could not be
                                            determined</label>
                                    </td>
                                    <td class="col-span-4">
                                        <label><input type="radio" [(ngModel)]="mannerOfDeath.manner" name="manner_of_death"
                                                value="Accident" class="mr-1"> Accident</label>
                                    </td>
                                    <td class="col-span-4">
                                        <label><input type="radio" [(ngModel)]="mannerOfDeath.manner" name="manner_of_death"
                                                value="Legal intervention" lass="mr-1"> Legal intervention</label>
                                    </td>
                                    <td class="col-span-4">
                                        <label><input type="radio" [(ngModel)]="mannerOfDeath.manner" name="manner_of_death" value="Pending Investigation"
                                                class="mr-1"> Pending
                                            Investigation</label>
                                    </td>
                                    <td class="col-span-4">
                                        <label><input type="radio" [(ngModel)]="mannerOfDeath.manner" name="manner_of_death"
                                                value="Intentional self harm" class="mr-1"> Intentional self
                                            harm</label>
                                    </td>
                                    <td class="col-span-4">
                                        <label><input type="radio" [(ngModel)]="mannerOfDeath.manner" name="manner_of_death" value="War"
                                                class="mr-1"> War</label>
                                    </td>
                                    <td class="col-span-4">
                                        <label><input type="radio" [(ngModel)]="mannerOfDeath.manner" name="manner_of_death" value="Unknown"
                                                class="mr-1"> Unknown</label>
                                    </td>
                                </tr>
                                <tr class="grid grid-cols-12 mt-2">
                                    <td class="col-span-3">If external cause or poisoning</td>
                                    <td class="col-span-3">
                                    </td>
                                    <td class="col-span-3 ml-3">Date of injury: </td>
                                    <td class="col-span-3"><input type="date" name="date_of_injury" [(ngModel)]="mannerOfDeath.dateOfInjury"
                                            class="w-full border px-2 py-1 rounded"></td>
                                </tr>
                                <tr class="grid grid-cols-12 mt-2">
                                    <td class="col-span-6">Please, describe how external cause occured (If poisoning please specify
                                        poisoning agent) </td>
                                    <td class="col-span-6">
                                        <textarea class="w-full border px-2 py-1 rounded" name="how_external_or_posioning_agent"
                                            [(ngModel)]="mannerOfDeath.howExternalOrPoisoningAgent"></textarea>
                                    </td>
                                </tr>
                            </mat-expansion-panel>
                            <mat-expansion-panel (opened)="subPanelBOpenState.set(true)" (closed)="subPanelBOpenState.set(false)" hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>{{subPanelBOpenState() ? '▼' : '▶'}} Place of occurence of exetrnal cause:</mat-panel-title>
                                </mat-expansion-panel-header>
                                <tr class="grid grid-cols-12">
                                    <td class="col-span-3">
                                        <label><input type="radio" [(ngModel)]="placeOfOccurence.place" name="place_of_occurence" value="At home" class="mr-1"> At home</label>
                                    </td>
                                    <td class="col-span-3">
                                        <label><input type="radio" [(ngModel)]="placeOfOccurence.place" name="place_of_occurence" value="Residential Institution" class="mr-1"> Residential Institution</label>
                                    </td>
                                    <td class="col-span-3">
                                        <label><input type="radio" [(ngModel)]="placeOfOccurence.place" name="place_of_occurence" value="School, other institution, public administrative area" class="mr-1">School, other institution, public administrative area</label>
                                    </td>
                                    <td class="col-span-3">
                                        <label><input type="radio" [(ngModel)]="placeOfOccurence.place" name="place_of_occurence" value="Sports and athletics area" class="mr-1">Sports and athletics area</label>
                                    </td>
                                    <td class="col-span-3">
                                        <label><input type="radio" [(ngModel)]="placeOfOccurence.place" name="place_of_occurence" value="Street and highway" class="mr-1">Street and highway</label>
                                    </td>
                                    <td class="col-span-3">
                                        <label><input type="radio" [(ngModel)]="placeOfOccurence.place" name="place_of_occurence" value="Trade and service area" class="mr-1">Trade and service area</label>
                                    </td>
                                    <td class="col-span-3">
                                        <label><input type="radio" [(ngModel)]="placeOfOccurence.place" name="place_of_occurence" value="Industrial and construction area" class="mr-1">Industrial and construction area</label>
                                    </td>
                                    <td class="col-span-3">
                                        <label><input type="radio" [(ngModel)]="placeOfOccurence.place" name="place_of_occurence" value="Farm" class="mr-1">Farm</label>
                                    </td>
                                    <td class="col-span-4">
                                        <label><input type="radio" [(ngModel)]="placeOfOccurence.place" name="place_of_occurence" value="Other" class="mr-1"> Other place (please specify)</label>
                                    </td>
                                    <td class="col-span-4 mr-3">
                                        <input type="text" *ngIf="placeOfOccurence.place === 'Other'" name="specific" [(ngModel)]="placeOfOccurence.specific" class="border-[1px] focus:border-[1px] focus:border-gray-400 border-gray-300 w-full mt-[3px] h-[35px] rounded-[3px]" id="specific_place">
                                    </td>
                                    <td class="col-span-3">
                                        <label><input type="radio" [(ngModel)]="placeOfOccurence.place" name="place_of_occurence" value="Unknown" class="mr-1"> Unknown</label>
                                    </td>
                                </tr>
                            </mat-expansion-panel>
                            <mat-expansion-panel (opened)="subPanelCOpenState.set(true)" (closed)="subPanelCOpenState.set(false)" hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>{{subPanelCOpenState() ? '▼' : '▶'}} Fetal or Infant death:</mat-panel-title>
                                </mat-expansion-panel-header>
                                <tr class="grid grid-cols-12 mt-2">
                                    <td class="col-span-6">Multiple pregrancy?</td>
                                    <td class="col-span-2">
                                        <label class="mr-4"><input type="radio" [(ngModel)]="fetalOrInfant.multiplePregnancy" name="multiple_pregnancy" value="yes" class="mr-1">Yes</label>
                                    </td>
                                    <td class="col-span-2">
                                        <label class="ml-4"><input type="radio" [(ngModel)]="fetalOrInfant.multiplePregnancy" name="multiple_pregnancy" value="no" class="mr-1"> No</label>
                                    </td>
                                    <td class="col-span-2">
                                        <label><input type="radio" [(ngModel)]="fetalOrInfant.multiplePregnancy" name="multiple_pregnancy" value="unknown" class="mr-1"> Unknown</label>
                                    </td>
                                </tr>
                                <tr class="grid grid-cols-12 mt-2">
                                    <td class="col-span-6">Stillborn?</td>
                                    <td class="col-span-2">
                                        <label class="mr-4"><input type="radio" [(ngModel)]="fetalOrInfant.stillBorn" name="stillborn" value="yes" class="mr-1"> Yes</label>
                                    </td>
                                    <td class="col-span-2">
                                        <label class="ml-4"><input type="radio" [(ngModel)]="fetalOrInfant.stillBorn" name="stillborn" value="no" class="mr-1"> No</label>
                                    </td>
                                    <td class="col-span-2">
                                        <label><input type="radio" [(ngModel)]="fetalOrInfant.stillBorn" name="stillborn" value="unknown" class="mr-1"> Unknown</label>
                                    </td>
                                </tr>
                                <tr class="grid grid-cols-12 mt-2">
                                    <td class="col-span-6 flex">
                                        <label for="hrs">
                                            If death within 24hrs specify number of hours survived:
                                        </label>
                                        <input type="number" [(ngModel)]="fetalOrInfant.hoursSurvived" name="hrs" class="w-full h-[38px] border rounded">
                                    </td>
                    
                                    <td class="col-span-6 flex ml-3">
                                        <label for="weight">Birth weight (in grams): </label>
                                        <input type="number" [(ngModel)]="fetalOrInfant.birthWeight" name="weight" class="w-full h-[38px] border rounded">
                                    </td>
                                </tr>
                                <tr class="grid grid-cols-12 mt-2">
                                    <td class="col-span-6 flex">
                                        <label for="hrs">
                                            Number of completed weeks of pregnancy:
                                        </label>
                                        <input type="number" [(ngModel)]="fetalOrInfant.completedWeeksOfPregnancy" name="weeks" class="w-full h-[38px] border rounded">
                                    </td>
                    
                                    <td class="col-span-6 flex ml-3">
                                        <label for="weight">Age of mother (in years): </label>
                                        <input type="number" name="age" [(ngModel)]="fetalOrInfant.ageOfMother" class="w-full h-[38px] border rounded">
                                    </td>
                                </tr>
                                <tr class="grid grid-cols-12 mt-2">
                                    <td class="col-span-6 flex">
                                        If death was perinatal, please state the conditions of mother that affected the fetus and newborn
                                    </td>
                    
                                    <td class="col-span-6">
                                        <textarea class="w-full border px-2 py-1 rounded" name="mothers_condition_to_newborn" [(ngModel)]="fetalOrInfant.mothersConditionToNewborn"></textarea>
                                    </td>
                                </tr>
                            </mat-expansion-panel>
                            <mat-expansion-panel *ngIf="gender === 'female'" (opened)="subPanelDOpenState.set(true)" (closed)="subPanelDOpenState.set(false)" hideToggle>
                                <mat-expansion-panel-header>
                                    <tr>
                                        <mat-panel-title>{{subPanelDOpenState() ? '▼' : '▶'}} For women, was the deceased pregnant?
                                            &nbsp; &nbsp;
                                            <td class="col-span-2">
                                                <label class="mr-4"><input [(ngModel)]="pregnantDeceased.pregnancyStatus" type="radio" name="deceased_pregnant" value="yes" class="mr-1"> Yes</label>
                                            </td>
                                            <td class="col-span-2">
                                                <label class="ml-4"><input [(ngModel)]="pregnantDeceased.pregnancyStatus" type="radio" name="deceased_pregnant" value="no" class="mr-1"> No</label>
                                            </td>
                                            <td class="col-span-2">
                                                <label class="ml-4"><input type="radio" [(ngModel)]="pregnantDeceased.pregnancyStatus" name="deceased_pregnant" value="unknown" class="mr-1"> Unknown</label>
                                            </td>
                                        </mat-panel-title>
                                    </tr>
                                </mat-expansion-panel-header>
                                <tr class="grid grid-cols-12 mt-2 mt-2">
                                    <td class="col-span-6"><label><input type="radio" [(ngModel)]="pregnantDeceased.pregnantTime" name="pregnant_time" value="At time of death" class="mr-1"> At time of death</label></td>
                                    <td class="col-span-6"><label><input type="radio" [(ngModel)]="pregnantDeceased.pregnantTime" name="pregnant_time" value="42 Weeks before death" class="mr-1"> Within 42 days before the death</label></td>
                                    <td class="col-span-6"><label><input type="radio" [(ngModel)]="pregnantDeceased.pregnantTime" name="pregnant_time" value="43 to 1 year before death" class="mr-1"> Between 43 up to 1 year before death</label></td>
                                    <td class="col-span-6"><label><input type="radio" [(ngModel)]="pregnantDeceased.pregnantTime" name="pregnant_time" value="unknown" class="mr-1"> Unknown</label></td>
                                </tr>
                                <tr class="grid grid-cols-12 mt-2">
                                    <td class="col-span-6">Did the pregnancy contribute to the death?</td>
                                    <td class="col-span-2">
                                        <label class="mr-4"><input type="radio" name="pregrancy_contribute_to_death" [(ngModel)]="pregnantDeceased.didPregnancyContributed" value="yes" class="mr-1"> Yes</label>
                                    </td>
                                    <td class="col-span-2">
                                        <label class="ml-4"><input type="radio" name="pregrancy_contribute_to_death" [(ngModel)]="pregnantDeceased.didPregnancyContributed" value="no" class="mr-1"> No</label>
                                    </td>
                                    <td class="col-span-2">
                                        <label><input type="radio" name="pregrancy_contribute_to_death" [(ngModel)]="pregnantDeceased.didPregnancyContributed" value="unknown" class="mr-1"> Unknown</label>
                                    </td>
                                </tr>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </mat-expansion-panel>
                    <mat-expansion-panel [expanded]="panelClinicalOpenState()" (opened)="panelClinicalOpenState.set(true)"
                    (closed)="panelClinicalOpenState.set(false)" hideToggle>
                        <mat-expansion-panel-header class="mat-expansion-panel-header-colored">
                            <mat-panel-title> {{panelClinicalOpenState() ? '▼' : '▶'}} Clinical Notes
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <tr class="grid grid-cols-12 mt-2">
                            <td class="col-span-12">
                                <textarea name="clinicalNotes" [(ngModel)]="clinicalNotes" id="" class="w-[100%] min-h-[200px] max-h-[300px] clinical-notes"></textarea>
                            </td>
                        </tr>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="panelChatSectionOpenState()" (opened)="panelChatSectionOpenState.set(true)"
                        (closed)="panelChatSectionOpenState.set(false)" hideToggle *ngIf="allowChat && vaRecord && current_user">
                        <mat-expansion-panel-header class="mat-expansion-panel-header-colored">
                            <mat-panel-title> {{panelChatSectionOpenState() ? '▼' : '▶'}} Chat Section
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <tr class="grid grid-cols-12 mt-2">
                            <div class="col-span-12" *ngIf="panelChatSectionOpenState()">
                                <app-discordants-chats 
                                [current_user]="current_user"
                                [messages]="messages"
                                [vaRecord]="vaRecord"
                                [coders]="coders"
                                ></app-discordants-chats>
                            </div>
                        </tr>
                    </mat-expansion-panel>
                    
            </mat-accordion>
        </tbody>
    </table>
    <div class="flex items-center justify-between mt-5">
        <span class="px-2 text-2xl text-start"></span>
        <button type="submit" class="px-6 py-2 text-white bg-blue-500 rounded hover:bg-blue-700">Save VA</button>
    </div>
</form>