.mat-accordion {
    border-radius: 0px !important;

    .mat-expansion-panel {
        border-radius: 0px !important;
        margin-bottom: 0;
        margin-top: 0;
        .mat-expansion-panel-header {
            padding-top: 10px 0;
        }
        .mat-expansion-panel-header-colored {
            background-color: rgb(156 163 175 / 1);
            mat-panel-title {
                color: #fff !important;
            }
        }
    }
}

.frameA {
    margin-bottom: 80px !important;
    z-index: 100 !important;
}

.clinical-notes {
    outline: 2px solid #969191 !important;
    border-radius: 5px;
    padding: 10px;
    
    &:focus {
        border: none !important;
        box-shadow: none !important;
        outline: 1px solid #000 !important;
    }
}