.mat-accordion {
    border-radius: 0px !important;

    .mat-expansion-panel {
        border-radius: 0px !important;
        margin-bottom: 0;
        margin-top: 0;
        .mat-expansion-panel-header {
            padding-top: 10px 0;
        }
        .mat-expansion-panel-header-colored {
            background-color: rgb(156 163 175 / 1);
            mat-panel-title {
                color: #fff !important;
            }
        }
    }
}

.frameA {
    margin-bottom: 50px;
    z-index: 100 !important;
}